<div class="container-tudo">
    <div class="container-tudo-preto">
        <div class="container-cadastro-ferramenta">
            <h2 class="login">Edição da sua Ferramenta</h2>
            <form action="https://toolmasters-api.onrender.com/editarFerramenta<%= idcadastro_ferramenta %>" method="post">
                <div class="container-form-login">
                    <div class="form-cadastro-ferramenta">
                        <h2 class="nome-ferramenta">Nome da ferramenta</h2>
                        <input class="input-nome-ferramenta" type="text" name="nome_ferramenta" for="nome_ferramenta" placeholder="Nome..." required>
                    </div>
                </div>
                <div class="container-form-login">
                    <div class="form-senha">
                        <h2 class="descricao-ferramenta">Descrição da Ferramenta</h2>
                        <input class="input-descricao-ferramenta" type="text" name="descricao" for="descricao" placeholder="Descrição..." required>
                    </div>
                </div>
                <div class="container-form-login">
                    <div class="form-senha">
                        <h2 class="codigo-ferramenta">Código da Ferramenta</h2>
                        <input class="input-codigo-ferramenta" type="text" name="codigo" for="codigo" placeholder="Código..."
                            required>
                    </div>
                </div>
                <div class="container-form-login">
                    <div class="form-senha">
                        <h2 class="serie-ferramenta">Nº de série da Ferramenta</h2>
                        <input class="input-serie-ferramenta" type="number" name="numero_serie" for="numero_serie" placeholder="Nº..." required>
                    </div>
                </div>
                <div class="container-form-login">
                    <div class="form-senha">
                        <h2 class="imagem-ferramenta">Imagem da ferramenta</h2>
                        <div class="imagem-ferramenta">
                            <input class="input-imagem-ferramenta" type="url" name="imagem" for="imagem" placeholder="URL" required>
                        </div>
                    </div>
                </div>
                <div class="container-btnLogin">
                    <button class="btnCadastrar">Editar</button>
                </div>
            </form>
            <form class="container-btnLogin" action="/minhasFerramentas" method="GET">
                <button class="btnVoltar">Voltar</button>
            </form>
        </div>
    </div>
</div>