<nav class="navbar navbar-expand-lg bg-body-tertiary nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h2 class="logo-home">ToolMasters</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link ferramentas" href="#">Ferramentas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link novidades" href="#">Cadastrar Ferramenta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link novidades" href="#">Minhas Ferramentas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-imgFundo">
    <div class="container-imgBackground">
        <div class="container-texto">
            <h1 class="titulo">Bem vindo ao ToolMasters!</h1><br>
            <h3 class="texto-home">Se você já teve algum problema e precisou desmontar algum aparelho, cortar algum fio
                ou apertar um
                parafuso solto, de certo sabe a falta que não ter uma chave de fenda ou um alicate faz em situações como
                essas ou outras às quais estamos sujeitos no dia a dia!</h3>
            <form class="formCadastrarFerramenta" action="/cadastroFerramenta" method="GET">
                <button class="btnCadastrarFerramenta">Cadastrar Ferramenta</button>
            </form>
        </div>
    </div>
</div>

<div class="ferramentasCadastradas">
    <h4 class="toolMaster">ToolMasters</h4>
    <h2 class="texto-ferramentasCadastradas">Ferramentas Cadastradas</h2>
</div>

<div class="container__fundo_card">
    <div class="container__card">

        <div class="card__father">
            <div class="card">
                <div class="card__front" style="background-image: url(/imagens/martelo.png);">
                    <div class="bg"></div>
                    <div class="body__card_front">
                        <h1>Martelo</h1>
                    </div>
                </div>
                <div class="card__back">
                    <div class="body__card_back">
                        <h3 class="nome-ferramenta">Martelo</h3><br>
                        <h4>Descrição</h4>
                        <h4 class="descricao-ferramenta">Martelo de aço com cabo emborachado para não deixar cair no pé e machucar</h4><br>
                        <h4>Código</h4>
                        <h4 class="codigo-ferramenta">22396830673</h4><br>
                        <h4>Série</h4>
                        <h4 class="numero-serie-ferramenta">15</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="card__father">
            <div class="card">
                <div class="card__front" style="background-image: url(/imagens/martelo.png);">
                    <div class="bg"></div>
                    <div class="body__card_front">
                        <h1>Martelo</h1>
                    </div>
                </div>
                <div class="card__back">
                    <div class="body__card_back">
                        <h3 class="nome-ferramenta">Martelo</h3><br>
                        <h4 class="descricao-ferramenta">Descrição: Martelo de aço com cabo emborachado para não deixar cair no pé
                            e
                            machucar</h4><br>
                        <h4 class="codigo-ferramenta">Código: 22396830673</h4><br>
                        <h4 class="numero-serie-ferramenta">Série: 15</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="card__father">
            <div class="card">
                <div class="card__front" style="background-image: url(/imagens/martelo.png);">
                    <div class="bg"></div>
                    <div class="body__card_front">
                        <h1>Martelo</h1>
                    </div>
                </div>
                <div class="card__back">
                    <div class="body__card_back">
                        <h3 class="nome-ferramenta">Martelo</h3><br>
                        <h4 class="descricao-ferramenta">Descrição: Martelo de aço com cabo emborachado para não deixar cair no pé
                            e
                            machucar</h4><br>
                        <h4 class="codigo-ferramenta">Código: 22396830673</h4><br>
                        <h4 class="numero-serie-ferramenta">Série: 15</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="card__father">
            <div class="card">
                <div class="card__front" style="background-image: url(/imagens/martelo.png);">
                    <div class="bg"></div>
                    <div class="body__card_front">
                        <h1>Martelo</h1>
                    </div>
                </div>
                <div class="card__back">
                    <div class="body__card_back">
                        <h3 class="nome-ferramenta">Martelo</h3><br>
                        <h4 class="descricao-ferramenta">Descrição: Martelo de aço com cabo emborachado para não deixar cair no pé
                            e
                            machucar</h4><br>
                        <h4 class="codigo-ferramenta">Código: 22396830673</h4><br>
                        <h4 class="numero-serie-ferramenta">Série: 15</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="card__father">
            <div class="card">
                <div class="card__front" style="background-image: url(/imagens/martelo.png);">
                    <div class="bg"></div>
                    <div class="body__card_front">
                        <h1>Martelo</h1>
                    </div>
                </div>
                <div class="card__back">
                    <div class="body__card_back">
                        <h3 class="nome-ferramenta">Martelo</h3><br>
                        <h4 class="descricao-ferramenta">Descrição: Martelo de aço com cabo emborachado para não deixar cair no pé
                            e
                            machucar</h4><br>
                        <h4 class="codigo-ferramenta">Código: 22396830673</h4><br>
                        <h4 class="numero-serie-ferramenta">Série: 15</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="card__father">
            <div class="card">
                <div class="card__front" style="background-image: url(/imagens/martelo.png);">
                    <div class="bg"></div>
                    <div class="body__card_front">
                        <h1>Martelo</h1>
                    </div>
                </div>
                <div class="card__back">
                    <div class="body__card_back">
                        <h3 class="nome-ferramenta">Martelo</h3><br>
                        <h4 class="descricao-ferramenta">Descrição: Martelo de aço com cabo emborachado para não deixar cair no pé
                            e
                            machucar</h4><br>
                        <h4 class="codigo-ferramenta">Código: 22396830673</h4><br>
                        <h4 class="numero-serie-ferramenta">Série: 15</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="footer">
    <div class="follow">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
    </div>
    <div class="logoFooter">
        <h3>ToolMasters</h3>
    </div>
</div>