<div class="container-tudo">
    <div class="container-tudo-preto">
        <div class="container">
            <h1 class="logo">ToolMasters</h1>
            <h2 class="login">Login</h2>
            <form action="https://toolmasters-api.onrender.com/" method="post">
                <div class="container-form-login">
                    <div class="form-login">
                        <h2 class="nick-login">Email do usuário</h2>
                        <input class="input-login" type="email" for="email" name="email" placeholder="Email..." required>
                    </div>
                </div>
                <div class="container-form-login">
                    <div class="form-senha">
                        <h2 class="nome-senha">Senha do usuário</h2>
                        <input class="input-senha" type="password" name="senha" for="senha" placeholder="Senha..." required>
                    </div>
                </div>
                <div class="container-btnLogin">
                    <button class="btnLogar">Logar</button>
                </div>
            </form>
            <form class="container-btnLogin" action="https://toolmasters-api.onrender.com/cadastro" method="GET">
                <h4 class="texto-cadastro">Não possui uma conta?</h4>
                <button class="btnCadastrar-se">Cadastrar-se</button>
            </form>
        </div>
    </div>
</div>