<div class="container">
    <h1 class="logo">ToolMasters</h1>
    <h2 class="login">Login</h2>
    <div class="container-form-login">
        <form class="form-login">
            <h2 class="nick-login">Email do usuário</h2>
            <input class="input-login" type="text" name="nome" placeholder="Email...">
        </form>
    </div>
    <div class="container-form-login">
        <form class="form-senha">
            <h2 class="nome-senha">Senha do usuário</h2>
            <input class="input-senha" type="text" name="nome" placeholder="Senha...">
        </form>
    </div>
    <form class="container-btnLogin" action="/home" method="GET">
        <button class="btnLogar">Logar</button>
    </form>
    <form class="container-btnLogin" action="/cadastro" method="GET">
        <h3 class="texto-cadastro">Não possui uma conta?</h3>
        <button class="btnCadastrar-se">Cadastrar-se</button>
    </form>
</div>