<div class="container">
    <h1 class="logo">ToolMasters</h1>
    <h2 class="login">Login</h2>
    <div class="container-form-login">
        <form class="form-login">
            <h2 class="nick-login">Nick</h2>
            <input class="input-login" type="text" name="nome" placeholder="Digite seu nick">
        </form>
    </div>
    <div class="container-form-login">
        <form class="form-senha">
            <h2 class="nome-senha">Senha da Sala</h2>
            <input class="input-senha" type="text" name="nome" placeholder="Senha...">
        </form>
    </div>
    <div class="container-btnLogin">
        <button class="btnLogar">Logar</button>
    </div>
    <div class="container-btnLogin">
        <h3 class="texto-cadastro">Não possui uma conta?</h3>
        <button class="btnCadastrar">Cadastrar-se</button>
    </div>
</div>